*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;

}
body{
    font-family: Open Sans', sans serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    width: 1170px;
    margin: auto;
}

.row{

    display: flex;
    flex-wrap: wrap;
}
nav{
    background-color: #02918c;
}
nav .logo{
    width: 25%;
}
nav .logo img{
    display: inline-block;
}
nav .menu{
    width: 75%;
}
nav .menu ul li{
    display: inline-block;
    margin: 12px 0;
}
nav .menu ul li a{
    display: inline-block;
    font-size : 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    padding: 25px 25px;
}